{% extends 'base.html.twig' %}

{% block title %}Commentaire index{% endblock %}

{% block body %}
    <h1>Commentaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contenu</th>
                <th>Titre</th>
                <th>Valide</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentaire in commentaires %}
            <tr>
                <td>{{ commentaire.id | raw}}</td>
                <td>{{ commentaire.contenu | raw}}</td>
                <td>{{ commentaire.titre | raw}}</td>
                <td>{{ commentaire.valide ? 'Yes' : 'No' | raw}}</td>
                <td>
                    <a href="{{ path('commentaire_show', {'id': commentaire.id}) }}">show</a>
                    {% if commentaire.idUser.id is same as(app.user.id) or is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('commentaire_edit', {'id': commentaire.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
