{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1 class="mb-5">Post index</h1>
    <div class="row d-flex align-items-center">
    {% for post in posts %}
        <div class="card col-6">
            <div class="card-body">
                <h5 class="card-title">{{ post.titre }}</h5>
                <p>{{ post.dateUpdate ? post.dateUpdate|date('Y-m-d') : '' }}</p>
                <p class="card-text">{{ post.chapo }}</p>
                <a href="{{ path('post_show', {'id': post.id}) }}" class="btn btn-primary">show</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('post_edit', {'id': post.id}) }}" class="btn btn-primary">edit</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-outline-secondary" href="{{ path('post_new') }}" style="margin-bottom: 5%;margin-top: 5%">Create new post</a>
    {% endif %}
{% endblock %}