{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1 class="mt-5 mb-5 col-12 text-center">Post index</h1>

    <div class="row col-12 mb-5">
    {% for post in posts %}
        <div class="col-lg-6 col-md-12  w-100 mb-2">
            <div class="card mb-3 w-100 h-100">

                <div class="card-header">{{ post.titre | raw}} <div class="card-text" style="font-size: small">dernière modification : {{ post.dateUpdate ? post.dateUpdate|date('Y-m-d') : '' | raw}}</div></div>
                <div class="card-body">
                    <div class="card-title">{{ post.chapo | raw}}</div>
                </div>
                <div class="card-footer">
                    <a href="{{ path('post_show', {'id': post.id}) }}" class="btn btn-primary">show</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('post_edit', {'id': post.id}) }}" class="btn btn-primary">edit</a>
                    {% endif %}
                </div>
            </div>

        </div>
    {% endfor %}
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-outline-secondary" href="{{ path('post_new') }}" style="margin-bottom: 5%;margin-top: 5%">Create new post</a>
    {% endif %}
{% endblock %}