{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>Post</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ post.titre }}</td>
            </tr>
            <tr>
                <th>DateCreation</th>
                <td>{{ post.dateCreation ? post.dateCreation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Chapo</th>
                <td>{{ post.chapo }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ post.contenu }}</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') and post.auteur.id is same as(app.user.id) %}
        <a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>
    {% endif %}

    <h1>Commentaire</h1>
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('commentaire_new', {'idPost': post.id}) }}">Nouveau commentaire</a>
    {% endif %}
    <table class="table">
        <tbody>
    {% for commentaire in commentaires %}
        {% if commentaire.idUser is same as(app.user) or commentaire.valide is same as(true) %}
            <tr>
                <th>Id</th>
                <td>{{ commentaire.id }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ commentaire.contenu }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ commentaire.titre }}</td>
            </tr>
            {% if commentaire.idUser is same as(app.user) %}
                <tr>
                    <th>Valide</th>
                    <td>{{ commentaire.valide ? 'Yes' : 'No' }}</td>
                </tr>
            {% endif %}
        {% endif %}
    {% endfor %}
        </tbody>
    </table>
{% endblock %}
