{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1 class="col-12 text-center mt-5">User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id | raw}}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username | raw}}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' | raw}}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password | raw}}</td>
            </tr>
        </tbody>
    </table>

    <a class="col-12 text-center mt-5" href="{{ path('user_index') }}">back to list</a>

    <a class="col-12 text-center mt-5" href="{{ path('user_edit', {'id': user.id| raw}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
